module.exports = {
  root: true,
  env: {
    'react-native/react-native': true,
    'jest/globals': true,
    es6: true,
  },
  extends: [
    'airbnb',
    'plugin:flowtype/recommended',
    'plugin:react-native/all',
    'plugin:jest/recommended',
    'prettier',
  ],
  parser: 'babel-eslint',
  plugins: ['flowtype', 'react', 'react-native', 'react-hooks', 'jest'],
  rules: {
    'react/jsx-filename-extension': ['warn', { extensions: ['.js', '.jsx'] }],
    'import/prefer-default-export': 'off',
    'react/sort-comp': 'off',
    'react/destructuring-assignment': 'off',
    'react/require-default-props': 'off',
    'react-native/no-raw-text': 'off',
    'react-native/sort-styles': 'off',
    'react/jsx-props-no-spreading': 'off',
    'lines-between-class-members': 'off',
    'react/state-in-constructor': 'off',
    'arrow-parens': 'off',
    'object-curly-newline': 'off',
    'react/static-property-placement': 'off',
    'operator-linebreak': 'off',
    'implicit-arrow-linebreak': 'off',
    'comma-dangle': 'off',
    'no-useless-catch': 'off',
    'react/jsx-curly-newline': 'off',
    'react/jsx-wrap-multilines': 'off',
    camelcase: 'off',
    'max-len': [
      'error',
      150,
      {
        ignoreComments: true,
        ignoreUrls: true,
      },
    ],
    'no-underscore-dangle': ['error', { allow: ['_value'] }],
    'react-hooks/rules-of-hooks': 'error',
    'react-hooks/exhaustive-deps': 'warn',
  },
  settings: {
    'import/resolver': {
      node: {
        extensions: ['.js', '.android.js', '.ios.js'],
      },
    },
  },
};
